<html>
<head>
    <title>

    </title>

</head>
<body>
<table border="2">
    <thead>
    <tr>
        <th>Name</th>
        <th>Roll Number</th>
        <th>Department</th>
        <th>Email</th>
        <th>Photo</th>
        <th>File</th>
    </tr>
    </thead>
    {%for n in model%}
    <tbody>
    <tr>
        <td>{{n.name}}</td>
        <td>{{n.roll}}</td>
        <td>{{n.department}}</td>
        <td>{{n.email}}</td>
        <td>{{n.photo}}</td>
        <td>{{n.file}}</td>

    </tr>
    </tbody>
    {%endfor%}
</table>

</body>
</html>
